/*!
 * Copyright 2018-2018 Yoneiker autor
 */
.form-control-file{
  display: block;
  padding: .375rem .75rem;
  height: calc(2.rem + 2.5px);
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s 
}
.dt-buttons{
  width: 100% !important;
  float: none !important;
  display: flex;
  justify-content: center !important;
  padding-top: 10px !important;
}
.img-details-client{
  width: 250px; 
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1600px !important;
  }
}
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.p-margin-top{
  padding-top: 11 !important
}

.btn {
  font-size: 14px;
}

.btn-dark-mst{
  color: #fff;
  background-color: rgba(73, 67, 138, 0.8);
  border-color: rgba(73, 67, 138, 0.8);
}
.btn-dark-mst:hover{
  background-color: rgba(73, 67, 138, 0.8);
  border-color: rgba(73, 67, 138, 0.8);
  border: 25px;

}
 .btn-success {
  color: #fff;
  background-color: #21d08e;
  border-color: #21d08e;
}
.btn-success:hover {
  color: #fff;
  background-color: #1aa470 !important;
  border-color: #15855b !important;
}
.btn-success-long {
  background: #21d08e none repeat scroll 0 0;
  border-color: #21d08e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.text-teal {
  color: #21d08e !important;
  border: 1;
}
.text-wait {
  color: rgb(255, 127, 7) !important;
}
.table td, .table th {
  padding: .75rem !important;
  vertical-align: inherit !important;
  border-top: 1px solid #dee2e6 !important;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-26 {
  font-size: 26px;
}

.imput-center{
  padding-left: 0px;
  padding-right: 0px;
  height: 235px;
  width: 310px;
}

.border-circle{
  border-radius: 50px !important;
}

.corner {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

body {
  background-color: #EEEEEE;
  color: #3C4858;
}
/* use section to lay out flex items */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons.icon,
.material-label {
  font-size: 3em;
  line-height: 1;
  display: block;
  color: #424242;
  margin: .5em 0
}


.material-icons.mdl-badge[data-badge]::after,
.material-label.mdl-badge[data-badge]::after{
  font-size: .3em;
  width: 2em;
  height: 2em;
}

.material-icons.mdl-badge[data-badge]::after {
  top: -1em;
  right: -1em;
}


/* AQUI COMIENZA EL ESTILO DE LOS SELECT----*/

.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
  width: 219px;
  display:block;
  
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 219px;
	padding: 10px 10px 10px 0;
	font-size: 15px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #757575;
}

/* Remove focus */
.select-text:focus {
	outline: none;
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5;
	top: 10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.select-label-sm {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5;
	top: 10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #5264AE;
	top: -20px;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 219px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* AQUI TERMINA EL ESTILO DE LOS SELECT */




/* AQUI COMIENZA EL ESTILO DE LOS INPUT */
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container-mst 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.long{
  width:300px;
}
input	{
  /* font-size:18px; */
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  width: 100%;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
.label-mst				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.label-sm.form {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5;
	top: 10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* AQUI TERMINA EL CSS DE LOS INPUT CREATIVE TIM */


.justify-content-center {
  justify-content: center !important;
  /* flex-direction: column !important; */
  align-items: center !important;
}

.table-mst>thead>tr>th {
  border-bottom-width: 1px;
  font-size: 1em;
  font-weight: 300;
}

.table-mst .radio,
.table-mst .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
  width: 15px;
}

.table-mst .radio .icons,
.table-mst .checkbox .icons {
  position: relative;
}

.table-mst>thead>tr>th,
.table-mst>tbody>tr>th,
.table-mst>tfoot>tr>th,
.table-mst>thead>tr>td,
.table-mst>tbody>tr>td,
.table-mst>tfoot>tr>td {
  padding: 12px 8px;
  vertical-align: middle;
}

.table-mst>thead>tr>th {
  padding-bottom: 4px;
}

.table-mst .td-actions {
  display: flex;
}

.table-mst .td-actions .btn {
  margin: 0px;
  padding: 5px;
}

.table-mst>tbody>tr {
  position: relative;
}

 .text-gray {
  color: #999999;
}

 /* CARD EN FORMATO CREATICE TIM */
 .card [data-background-color="blue"] {
  background: linear-gradient(60deg, #1e1b3c, #1e1b3c);
  box-shadow: 0 12px 20px -10px rgba(34, 99, 137, 0.45), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 72, 93, 0.45);
}
.card [data-background-color="teal"] {
  background: linear-gradient(60deg, #21d08e, #21d08e);
  box-shadow: 0 12px 20px -10px rgba(34, 99, 137, 0.45), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 72, 93, 0.45);
}
 .img-avatar{
  width: 35px; 
  height: 35px;
  border-radius: 50% !important;
 }
 .img-profile{
  width: 120px; 
  height: 120px;
  border-radius: 50% !important;
 }
 .img-logo-carrier{
  display:block;
  border:none;
 }
 .div-center{
  padding:10px 10px 10px 80px;
 }
.card-profile,
.card-testimonial {
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 120px;
    max-height: 120px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.content,
.card-testimonial .card-avatar+.content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}
 .card .category:not([class*="text-"]) {
  color: #999999;
}
.card .card-content .category {
  margin-bottom: 0;
}

.card .category .material-icons {
  position: relative;
  top: 6px;
  line-height: 0;
}

.card .category-social .fa {
  font-size: 24px;
  position: relative;
  margin-top: -4px;
  top: 2px;
  margin-right: 5px;
}

/* TERMINA CARD */

.font-card{
  font-family:sans-serif;
}

h2.title-mst {
  margin-bottom: 30px;
}
.card .chart-title-mst {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
}

.card .chart-title-mst h3 {
  margin: 0;
  color: #FFFFFF;
}

.card .chart-title-mst h6 {
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}
.card-stats .title-mst {
  margin: 0;
}
.card-nav-tabs .nav-tabs-title-mst {
  float: left;
  padding: 10px 10px 10px 0;
  line-height: 24px;
}
.popover-title-mst {
  background-color: #FFFFFF;
  border: none;
  padding: 15px 15px 5px;
  font-size: 1.3em;
}
.card .title-mst {
  margin-top: 0;
  margin-bottom: 5px;
}
.card .card-image .card-title-mst {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-header-mst {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 15px 30px;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
}
.card .card-tag-mst {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 15px 30px;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
}
.card .card-header-mst .title-mst {
  color: #FFFFFF;
}

.card .card-header-mst .category {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.62);
}

.card .card-header-mst.card-chart {
  padding: 0;
  min-height: 160px;
}

.card .card-header-mst.card-chart+.content h4 {
  margin-top: 0;
}

.card .card-header-mst .ct-label {
  color: rgba(255, 255, 255, 0.7);
}

.card .card-header-mst .ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header-mst .ct-series-a .ct-point,
.card .card-header-mst .ct-series-a .ct-line,
.card .card-header-mst .ct-series-a .ct-bar,
.card .card-header-mst .ct-series-a .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header-mst .ct-series-a .ct-slice-pie,
.card .card-header-mst .ct-series-a .ct-area {
  fill: rgba(255, 255, 255, 0.4);
}
.card-stats .card-header-mst {
  float: left;
  text-align: center;
}

.card-stats .card-header-mst i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
}
.card-plain .card-header-mst {
  margin-left: 0;
  margin-right: 0;
}
/* modal dentro del panel */
.modal-content{
  background: transparent !important;
  border: 0 !important;
}
.w3-modal-content{
  background: transparent !important;
  border: 0 !important;
}
/* modal para el login */
.main-div{
  background: transparent !important;
  border: 0 !important;
}

 .container-panel {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #EEEEEE;
}

 .card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}
.card .card-content {
  padding: 15px;
}
.card-stats .card-content {
  text-align: right;
  padding-top: 5px;
}
.card .card-content .category {
  margin-bottom: 0;
}
.card .cards-footer {
  margin: 0 15px;
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}

.card .cards-footer .content {
  display: block;
}

.card .cards-footer div {
  display: inline-block;
}

.card .cards-footer .author {
  color: #999999;
}

.card .cards-footer .stats {
  line-height: 30px;
  color: #999999;
  font-size: 12px;
}

.card .cards-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}

.card .cards-footer h6 {
  color: #999999;
}
 .btn-nav-dark {
  color: #fff;
  background-color: rgba(73, 67, 138, 0.8);
  border-color: rgba(73, 67, 138, 0.8);
}

.btn-nav-dark:hover {
  color: #fff;
  background-color: rgba(73, 67, 138, 0.5);
  border-color: rgba(73, 67, 138, 0.5);
}

footer {
  background: #111;
  color: #fff;
  width: auto;
  text-align: justify;
  padding: 1em;
  align-self: flex-end;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -110%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.bg-dark-mst {
  background-color: #1e1b3c !important;
}
.bg-alert-mst {
  background-color: #ec4644 !important;
}
.bg-success-mst {
  background-color: #21d08e !important;
}
.btn-success-mst {
  color: #fff;
  background-color: #21d08e;
  border-color: #21d08e;
}

.btn-success-mst:hover {
  color: #fff;
  background-color: #1aa470;
  border-color: #15855b;
}

.btn-success-mst:focus, .btn-success-mst.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success-mst.disabled, .btn-success-mst:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success-mst:not(:disabled):not(.disabled):active, .btn-success-mst:not(:disabled):not(.disabled).active,
.show > .btn-success-mst.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success-mst:not(:disabled):not(.disabled):active:focus, .btn-success-mst:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-mst.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ 
  text-align:center;
  padding-top:135px;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #21d08e none repeat scroll 0 0;
  border-color: #21d08e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
